* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: burlywood;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background:none;
    z-index: 1000;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .logo {
    color: #ffffff;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
}

.navbar .menu {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #000000;
}

button {
    color: #fff;
    background: #000000;
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

button:hover {
    color: #ffffff;
    background: #686464;
}

#searchInput {
    width: 50%;
    height: 50px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: 0.3s;
}

.container-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

#data {
    list-style-type: none;
    padding: 0;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
}

.movie-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.movie-poster {
    max-width: 200px;
    margin-bottom: 20px;
}

.movie-info {
    text-align: center;
}
